# Take a Look At Data
First thing to do is load Dataset and libraroes we need.

In [2]:
# Modules/Libraries we need
import pandas as pd 
import numpy as np

# Loading our dataset
df = pd.read_csv( r'D:\jypyter notebooks\kaggle\Untitled Folder\dataset\NFL Play by Play 2009-2016 (v3).csv', dtype ='unicode' )

first thing to do after loading the dataset is to look into it. This will give you a brief about the data like what is data about or what's worng with data like missing/Null values in this case which will be represented by NaN or None.

In [3]:
#looking at some of (top 5 rows) data.
#looks like we have some missing values.
df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600,0,TEN,...,NaN,0.4856749860969135,0.5143250139030865,0.5464328397122977,0.4535671602877023,0.4856749860969135,0.060757853615384216,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1,14:53,15,3593,7,PIT,...,1.1460758055888012,0.5464328397122977,0.4535671602877023,0.5510878171614882,0.44891218283851175,0.5464328397122977,0.004654977449190523,-0.03224398696619424,0.03689896441538476,2009
2,2009-09-10,2009091000,1,1,2,14:16,15,3556,37,PIT,...,NaN,0.5510878171614882,0.44891218283851175,0.5107930906986009,0.4892069093013991,0.5510878171614882,-0.04029472646288734,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3,13:35,14,3515,41,PIT,...,-5.031424582246548,0.5107930906986009,0.4892069093013991,0.4612171140114365,0.5387828859885635,0.5107930906986009,-0.0495759766871644,0.10666255529932689,-0.1562385319864913,2009
4,2009-09-10,2009091000,1,1,4,13:27,14,3507,8,PIT,...,NaN,0.4612171140114365,0.5387828859885635,0.5589294012224711,0.44107059877752886,0.4612171140114365,0.09771228721103464,NaN,NaN,2009

# How many missing values do we have?
Now we know that we have missing values, Now we see how many missing values do we have.

In [8]:
# Getting missing values per each column
missing_value_count = df.isnull().sum() # isnull() returns 1 at null and 0 at not null then sum will sum up of all 1s(null)
# looking at missing values of first 10 columns
missing_value_count[:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            54218
time              188
TimeUnder           0
TimeSecs          188
PlayTimeDiff      374
SideofField       450
dtype: int64

That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem

In [13]:
# how many cells are there
total_cell = np.product(df.shape)
total_missing = missing_value_count.sum()
# what percent of our data is missing
missing_percent = (total_missing/total_cell)*100
missing_percent

24.85847694188906

Wow! 24.85%, nearly quater of data is missing.In next step we will take a look at the missing values and firgure out what might be going with them.

# Figure out why data is missing
Now we will look at our data and try to figure out why it is the way it is and how that will affect our analysis.This is sometimes known as data intution.We need use our intution to figure out why value is missing? <br>
<br>
One of the most important questions we can ask ourself to help figure this out is this:<br>
            Is this value missing because it wasn't recorded or because it doesn't exist?<br>
<br>
if a value is missing becuase it doesn't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values we probably do want to keep as NaN. On the other hand, if a value is missing because it wasn't recorded, then we can try to guess what it might have been based on the other values in that column and row. This is called imputation, and we'll learn how to do it next!

By looking at the documentation (https://www.kaggle.com/datasets/maxhorowitz/nflplaybyplay2009to2016), we can see that this column has information on the number of seconds left in the game when the play was made. This means that these values are probably missing because they were not recorded, rather than because they don't exist. So, it would make sense for us to try and guess what they should be rather than just leaving them as NA's. <br>

On the other hand, there are other fields, like "PenalizedTeam" that also have lot of missing fields. In this case, though, the field is missing because if there was no penalty then it doesn't make sense to say which team was penalized. For this column, it would make more sense to either leave it empty or to add a third value like "neither" and use that to replace the NA's.<br>

### Reading Documentaion  of our dataset is important
While doing very careful data analysis, this is the point at which we'd look at each column individually to figure out the best strategy for filling those missing values. <br>
<br>
For the rest of this notebook, we'll cover some "quick and dirty" techniques that can help us with missing values but will probably also end up removing some useful information or adding some noise to your data.

# Drop Missing values
<br>
If we're in a hurry or don't have a reason to figure out why our values are missing, one option you have is to just remove any rows or columns that contain missing values. (Note: <b>This is generally not recommend approch for important projects</b>! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know your dataset.<br>
<br>
If we're sure we want to drop rows with missing values, pandas does have a handy function, dropna() to help you do this

In [14]:
# droping rows containing missig values
drop_missing_values = df.dropna()
drop_missing_values

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

Ohh it droped all rows in our dataset this is because each and every row in our dataset contain missing value.<br>
Lets try drop column containing missing value this time.

In [15]:
#dropping columns with missing values
columns_with_dropna = df.dropna(axis=1) #axis 1 means on cloumn and 0 mean row by default it is 0.
columns_with_dropna

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0,0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0,0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0,0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0,0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0,0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1,10,35,1,35,1,...,0,None,0,0,0,0,0,0,0,2016
362443,2017-01-01,2017010102,20,4,1,0,35,1,0,1,...,0,None,0,0,0,0,0,0.9311149499715381,0,2016
362444,2017-01-01,2017010102,21,4,1,0,0,1,0,0,...,0,None,0,0,0,0,0,0,0,2016
362445,2017-01-01,2017010102,21,4,1,10,-1,1,-1,0,...,0,None,0,0,0,0,0,0,0,2016
362446,2017-01-01,2017010102,21,4,0,0,-1,1,0,0,...,0,None,0,0,0,0,0,0,0,2016

its better than empty dataset!
<br>
now lets see how much of proportion did we loose.

In [19]:
# how much od data we lose
print(f'Columns in original dataset : {df.shape[1]}')
print(f'Columns in original dataset : {columns_with_dropna.shape[1]}')
print(f'Total Column loss {df.shape[1]-columns_with_dropna.shape[1]}')

Columns in original dataset : 102
Columns in original dataset : 41
Total Column loss 61

Wow ! seems we did loss some quite amount of data.However we did successfully removed all NaN/null/missing values from our dataset.

# Filling in missing values automatically

Another option is to try and fill in the missing values.<br> 
For this next bit, we are getting a small sub-section of the NFL data so that it will print well.

In [23]:
# Getting samll subset of NFL dataset df
subset_df = df.loc[:,'EPA':'Season'].head()
subset_df

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014473905391463,NaN,NaN,0.4856749860969135,0.5143250139030865,0.5464328397122977,0.4535671602877023,0.4856749860969135,0.060757853615384216,NaN,NaN,2009
1,0.07790715801661952,-1.0681686475721817,1.1460758055888012,0.5464328397122977,0.4535671602877023,0.5510878171614882,0.44891218283851175,0.5464328397122977,0.004654977449190523,-0.03224398696619424,0.03689896441538476,2009
2,-1.4027598314188185,NaN,NaN,0.5510878171614882,0.44891218283851175,0.5107930906986009,0.4892069093013991,0.5510878171614882,-0.04029472646288734,NaN,NaN,2009
3,-1.7125834938947782,3.3188410883517703,-5.031424582246548,0.5107930906986009,0.4892069093013991,0.4612171140114365,0.5387828859885635,0.5107930906986009,-0.0495759766871644,0.10666255529932689,-0.1562385319864913,2009
4,2.097795973997438,NaN,NaN,0.4612171140114365,0.5387828859885635,0.5589294012224711,0.44107059877752886,0.4612171140114365,0.09771228721103464,NaN,NaN,2009

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the NaN values to be replaced with. Here, I'm saying that I would like to replace all the NaN values with 0.

In [24]:
# replace all NaN with 0
subset_df.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014473905391463,0,0,0.4856749860969135,0.5143250139030865,0.5464328397122977,0.4535671602877023,0.4856749860969135,0.060757853615384216,0,0,2009
1,0.07790715801661952,-1.0681686475721817,1.1460758055888012,0.5464328397122977,0.4535671602877023,0.5510878171614882,0.44891218283851175,0.5464328397122977,0.004654977449190523,-0.03224398696619424,0.03689896441538476,2009
2,-1.4027598314188185,0,0,0.5510878171614882,0.44891218283851175,0.5107930906986009,0.4892069093013991,0.5510878171614882,-0.04029472646288734,0,0,2009
3,-1.7125834938947782,3.3188410883517703,-5.031424582246548,0.5107930906986009,0.4892069093013991,0.4612171140114365,0.5387828859885635,0.5107930906986009,-0.0495759766871644,0.10666255529932689,-0.1562385319864913,2009
4,2.097795973997438,0,0,0.4612171140114365,0.5387828859885635,0.5589294012224711,0.44107059877752886,0.4612171140114365,0.09771228721103464,0,0,2009

we could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [26]:
# replace all Na values that comes directly after it in same column.
# Then replace all remaining wiht 0.
subset_df.fillna(method = 'bfill' , axis = 0 ).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014473905391463,-1.0681686475721817,1.1460758055888012,0.4856749860969135,0.5143250139030865,0.5464328397122977,0.4535671602877023,0.4856749860969135,0.060757853615384216,-0.03224398696619424,0.03689896441538476,2009
1,0.07790715801661952,-1.0681686475721817,1.1460758055888012,0.5464328397122977,0.4535671602877023,0.5510878171614882,0.44891218283851175,0.5464328397122977,0.004654977449190523,-0.03224398696619424,0.03689896441538476,2009
2,-1.4027598314188185,3.3188410883517703,-5.031424582246548,0.5510878171614882,0.44891218283851175,0.5107930906986009,0.4892069093013991,0.5510878171614882,-0.04029472646288734,0.10666255529932689,-0.1562385319864913,2009
3,-1.7125834938947782,3.3188410883517703,-5.031424582246548,0.5107930906986009,0.4892069093013991,0.4612171140114365,0.5387828859885635,0.5107930906986009,-0.0495759766871644,0.10666255529932689,-0.1562385319864913,2009
4,2.097795973997438,0,0,0.4612171140114365,0.5387828859885635,0.5589294012224711,0.44107059877752886,0.4612171140114365,0.09771228721103464,0,0,2009